[submodule "15-466-f23-base1"]
	path = 15-466-f23-base1
	url = https://github.com/Leoglucky/15-466-f23-base1.git
[submodule "15-466-f26-base2"]
	path = 15-466-f26-base2
	url = https://github.com/Leoglucky/15-466-f26-base2.git
[submodule "15-466-f26-base3"]
	path = 15-466-f26-base3
	url = https://github.com/Leoglucky/15-466-f26-base3.git
